<a href="https://colab.research.google.com/github/danil31219as/gisit/blob/master/fireforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!unzip fires.zip

Archive:  fires.zip
  inflating: Данные по пожарам за 5 лет/2016.xls
  inflating: Данные по пожарам за 5 лет/2015.xls
  inflating: Данные по пожарам за 5 лет/2020.xls
  inflating: Данные по пожарам за 5 лет/2019.xls
  inflating: Данные по пожарам за 5 лет/2018.xls
  inflating: Данные по пожарам за 5 лет/Копия 2011.xls
  inflating: Данные по пожарам за 5 лет/2011.xls
  inflating: Данные по пожарам за 5 лет/2017.xls

In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from lightgbm import LGBMRegressor
import datetime

In [3]:
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.0.1)

In [ ]:
df = pd.read_csv('forestfires.csv')

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(pd.get_dummies(df.drop(['area', 'day', 'X', 'Y'], axis=1)), df['area'], test_size=0.1)

In [ ]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [ ]:
model = LGBMRegressor().fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
mean_absolute_error(y_test, y_pred), mean_squared_error(y_test, y_pred, squared=False)

(35.66779661437039, 151.83290045886488)

In [ ]:
pd.get_dummies(df)

     X  Y  FFMC    DMC     DC  ...  day_sat  day_sun  day_thu  day_tue  day_wed
0    7  5  86.2   26.2   94.3  ...        0        0        0        0        0
1    7  4  90.6   35.4  669.1  ...        0        0        0        1        0
2    7  4  90.6   43.7  686.9  ...        1        0        0        0        0
3    8  6  91.7   33.3   77.5  ...        0        0        0        0        0
4    8  6  89.3   51.3  102.2  ...        0        1        0        0        0
..  .. ..   ...    ...    ...  ...      ...      ...      ...      ...      ...
512  4  3  81.6   56.7  665.6  ...        0        1        0        0        0
513  2  4  81.6   56.7  665.6  ...        0        1        0        0        0
514  7  4  81.6   56.7  665.6  ...        0        1        0        0        0
515  1  4  94.4  146.0  614.7  ...        1        0        0        0        0
516  6  3  79.5    3.0  106.7  ...        0        0        0        1        0

[517 rows x 30 columns]

In [41]:
f = open('SCH4D3.txt').read()

In [42]:
len(f.split('\n'))

3865

In [43]:
df = pd.DataFrame([elem.split() for elem in f.split('\n')])

In [45]:
df = df.drop([4, 5, 6, 8, 10, 11, 13, 15, 17, 19], axis=1)

In [46]:
df

         0     1     2     3     7     9     12     14    16      18
0     24959  2010     1     1     0     0   0.0  -39.3    80  1026.7
1     24959  2010     1     2   310     1   0.0  -38.3    80  1030.3
2     24959  2010     1     3     0     0   0.0  -37.3    81  1032.4
3     24959  2010     1     4     0     0   0.0  -37.8    81  1036.5
4     24959  2010     1     5     0     0   0.0  -37.5    80  1042.7
...     ...   ...   ...   ...   ...   ...   ...    ...   ...     ...
3860  24959  2020     7    27     0     0   0.0   17.9    96   996.5
3861  24959  2020     7    28   343     2   0.0   14.6    78   999.6
3862  24959  2020     7    29   336     2   0.0   14.4    82  1002.0
3863  24959  2020     7    30   317     1   0.0   10.2    84  1003.0
3864   None  None  None  None  None  None  None   None  None    None

[3865 rows x 10 columns]

In [48]:
df.columns = ['num', 'year', 'month', 'day', 'wind_v', 'speed_wind', 'rainfall', 'temp', 'humidity', 'press']

In [67]:
df = df.dropna()

In [26]:
data_fire = []

In [27]:
current_data = pd.read_excel('fires/2011.xls', header=7)
for i in range(len(current_data) - 1):
  print(current_data.iloc[i]['Unnamed: 7'])
  data_fire.append([pd.date_range(datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 4'], '%d.%m.%Y'), datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 7'].split('ликвидирован ')[1], '%d.%m.%Y')), current_data.iloc[i]['всего']])

ликвидирован 1.08.2011
ликвидирован 28.07.2011
ликвидирован 27.07.2011
ликвидирован 5.08.2011
ликвидирован 5.08.2011
ликвидирован 29.08.2011

In [24]:
datetime.datetime.strptime('15.07.2011', '%d.%m.%Y')

datetime.datetime(2011, 8, 1, 0, 0)

In [25]:
pd.date_range(datetime.datetime.strptime('15.07.2011', '%d.%m.%Y'), datetime.datetime.strptime('1.08.2011', '%d.%m.%Y'))

DatetimeIndex(['2011-07-15', '2011-07-16', '2011-07-17', '2011-07-18',
               '2011-07-19', '2011-07-20', '2011-07-21', '2011-07-22',
               '2011-07-23', '2011-07-24', '2011-07-25', '2011-07-26',
               '2011-07-27', '2011-07-28', '2011-07-29', '2011-07-30',
               '2011-07-31', '2011-08-01'],
              dtype='datetime64[ns]', freq='D')

In [14]:
pd.read_excel('fires/2011.xls', header=7)

                                          Unnamed: 0  ... Unnamed: 15
0                                     к-2055 (61394)  ...         NaN
1                                     к-2110 (62075)  ...         NaN
2                                     к-2119 (62109)  ...         NaN
3                                     к-2125 (62366)  ...         NaN
4                                     к-2318 (65958)  ...         NaN
5                                     к-2642 (76443)  ...         NaN
6  Всего зарегистрированных пожаров за период с 1...  ...         NaN

[7 rows x 16 columns]

In [30]:
current_data = pd.read_excel('fires/2015.xls', header=7)
for i in range(len(current_data) - 1):
  print(current_data.iloc[i]['Unnamed: 7'])
  data_fire.append([pd.date_range(datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 4'], '%d.%m.%Y'), datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 7'].split('ликвидирован ')[1], '%d.%m.%Y')), current_data.iloc[i]['всего']])

ликвидирован 20.08.2015
ликвидирован 20.08.2015
ликвидирован 4.09.2015
ликвидирован 5.09.2015
ликвидирован 4.09.2015
ликвидирован 6.09.2015
ликвидирован 6.09.2015
ликвидирован 5.09.2015

In [32]:
current_data = pd.read_excel('fires/2016.xls', header=7)
for i in range(len(current_data) - 1):
  print(current_data.iloc[i]['Unnamed: 7'])
  data_fire.append([pd.date_range(datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 4'], '%d.%m.%Y'), datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 7'].split('ликвидирован ')[1], '%d.%m.%Y')), current_data.iloc[i]['всего']])

In [33]:
current_data = pd.read_excel('fires/2017.xls', header=7)
for i in range(len(current_data) - 1):
  print(current_data.iloc[i]['Unnamed: 7'])
  data_fire.append([pd.date_range(datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 4'], '%d.%m.%Y'), datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 7'].split('ликвидирован ')[1], '%d.%m.%Y')), current_data.iloc[i]['всего']])

ликвидирован 19.06.2017
ликвидирован 5.07.2017
ликвидирован 13.07.2017
ликвидирован 27.08.2017
ликвидирован 25.08.2017

In [34]:
current_data = pd.read_excel('fires/2018.xls', header=7)
for i in range(len(current_data) - 1):
  print(current_data.iloc[i]['Unnamed: 7'])
  data_fire.append([pd.date_range(datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 4'], '%d.%m.%Y'), datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 7'].split('ликвидирован ')[1], '%d.%m.%Y')), current_data.iloc[i]['всего']])

ликвидирован 14.05.2018
ликвидирован 2.06.2018
ликвидирован 31.07.2018
ликвидирован 20.07.2018
ликвидирован 22.07.2018
ликвидирован 31.07.2018

In [35]:
current_data = pd.read_excel('fires/2019.xls', header=7)
for i in range(len(current_data) - 1):
  print(current_data.iloc[i]['Unnamed: 7'])
  data_fire.append([pd.date_range(datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 4'], '%d.%m.%Y'), datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 7'].split('ликвидирован ')[1], '%d.%m.%Y')), current_data.iloc[i]['всего']])

ликвидирован 25.05.2019
ликвидирован 19.06.2019
ликвидирован 18.07.2019
ликвидирован 20.07.2019
ликвидирован 7.08.2019
ликвидирован 14.08.2019

In [36]:
current_data = pd.read_excel('fires/2020.xls', header=7)
for i in range(len(current_data) - 1):
  print(current_data.iloc[i]['Unnamed: 7'])
  data_fire.append([pd.date_range(datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 4'], '%d.%m.%Y'), datetime.datetime.strptime(current_data.iloc[i]['Unnamed: 7'].split('ликвидирован ')[1], '%d.%m.%Y')), current_data.iloc[i]['всего']])

ликвидирован 20.05.2020
ликвидирован 28.05.2020
ликвидирован 6.07.2020
ликвидирован 8.07.2020
ликвидирован 8.07.2020
ликвидирован 20.07.2020
ликвидирован 22.07.2020
ликвидирован 1.10.2020

In [37]:
data = []
for fire in data_fire:
  for tim in fire[0]:
    data.append([tim, fire[1]])

In [39]:
df_fire = pd.DataFrame(data, columns=['date', 'area'])

In [40]:
df_fire

          date  area
0   2011-07-15   547
1   2011-07-16   547
2   2011-07-17   547
3   2011-07-18   547
4   2011-07-19   547
..         ...   ...
512 2020-09-27  1195
513 2020-09-28  1195
514 2020-09-29  1195
515 2020-09-30  1195
516 2020-10-01  1195

[517 rows x 2 columns]

In [68]:
df['date'] = list(map(lambda x: datetime.datetime.strptime(f'{x[2]}.{x[1]}.{x[0]}', '%d.%m.%Y'), zip(df['year'], df['month'], df['day'])))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [80]:
area_df = df_fire.merge(df, on=['date'], how='right')

In [82]:
area_df.area = area_df.area.fillna(0)

In [89]:
full_df = area_df[area_df.area == 0].sample(frac=0.14).append(area_df[area_df.area != 0])

In [90]:
full_df

           date  area    num  year  ... rainfall   temp humidity   press
3105 2018-01-11   0.0  24959  2018  ...      0.0  -41.0       73  1007.5
1602 2014-04-02   0.0  24959  2014  ...      0.0  -19.9       82  1005.3
1051 2012-09-28   0.0  24959  2012  ...      0.0    1.0       88  1002.2
273  2010-10-01   0.0  24959  2010  ...      0.0  -11.6       95  1015.4
799  2012-01-20   0.0  24959  2012  ...      0.0  -28.5       69  1029.5
...         ...   ...    ...   ...  ...      ...    ...      ...     ...
4079 2020-07-19  13.0  24959  2020  ...      0.0   21.8       86   994.2
4080 2020-07-20   3.0  24959  2020  ...      0.0   24.2       69   987.9
4081 2020-07-20  13.0  24959  2020  ...      0.0   24.2       69   987.9
4082 2020-07-21  13.0  24959  2020  ...      0.0   15.7       80   994.5
4083 2020-07-22  13.0  24959  2020  ...      0.0   16.2       81  1000.6

[1001 rows x 12 columns]

In [91]:
X_train, X_test, y_train, y_test = train_test_split(full_df.drop(['date', 'year', 'day', 'num', 'area'], axis=1), full_df['area'], test_size=0.1)

In [96]:
model = LGBMRegressor(random_state=42).fit(X_train.to_numpy(), y_train)

In [98]:
y_pred = model.predict(X_test.to_numpy())

In [99]:
import pickle
pickle.dump(model, open('fire-weather.pkl', 'wb'))

In [105]:
y_train.value_counts(
    bins=4
)

(-9.654, 2413.25]    801
(2413.25, 4826.5]     55
(7239.75, 9653.0]     26
(4826.5, 7239.75]     18
Name: area, dtype: int64

In [107]:
full_df[full_df.area == full_df.area.max()]

           date    area    num  year  ... rainfall  temp humidity   press
3276 2018-07-01  9653.0  24959  2018  ...      0.0  19.2       63   998.3
3277 2018-07-02  9653.0  24959  2018  ...      0.0  17.3       78   998.1
3278 2018-07-03  9653.0  24959  2018  ...      0.0  19.6       78   995.3
3279 2018-07-04  9653.0  24959  2018  ...      0.0  22.2       57   996.6
3280 2018-07-05  9653.0  24959  2018  ...      0.0  22.0       64   995.7
3281 2018-07-06  9653.0  24959  2018  ...      0.0  20.8       59   997.2
3282 2018-07-07  9653.0  24959  2018  ...      0.0  20.2       67  1001.2
3283 2018-07-08  9653.0  24959  2018  ...      0.0  20.2       71  1002.9
3284 2018-07-09  9653.0  24959  2018  ...      0.0  22.1       77   996.8
3285 2018-07-10  9653.0  24959  2018  ...      0.0  23.2       63   989.7
3287 2018-07-11  9653.0  24959  2018  ...      0.0  18.5       86   989.1
3289 2018-07-12  9653.0  24959  2018  ...      0.0  14.8       84   989.5
3292 2018-07-13  9653.0  24959  2018  ...      0.0  17.6       59   989.4
3295 2018-07-14  9653.0  24959  2018  ...      0.0  18.1       77   990.5
3298 2018-07-15  9653.0  24959  2018  ...      0.0  15.8       86   993.0
3301 2018-07-16  9653.0  24959  2018  ...      0.0  16.0       96   993.7
3304 2018-07-17  9653.0  24959  2018  ...      0.0  11.7       64   994.3
3307 2018-07-18  9653.0  24959  2018  ...      0.0  10.1       56  1001.9
3310 2018-07-19  9653.0  24959  2018  ...      0.0  13.1       75   998.4
3313 2018-07-20  9653.0  24959  2018  ...      0.0  12.9       83   997.5
3316 2018-07-21  9653.0  24959  2018  ...      0.0  18.7       74   988.7
3319 2018-07-22  9653.0  24959  2018  ...      0.0   9.8       89   986.2
3322 2018-07-23  9653.0  24959  2018  ...      0.0  13.3       72   996.7
3324 2018-07-24  9653.0  24959  2018  ...      0.0  12.2       94   994.5
3326 2018-07-25  9653.0  24959  2018  ...      0.0  12.4       88   994.5
3328 2018-07-26  9653.0  24959  2018  ...      0.0  11.0       90   995.4
3330 2018-07-27  9653.0  24959  2018  ...      0.0  15.3       88   990.6
3332 2018-07-28  9653.0  24959  2018  ...      0.0  12.7       90   991.8
3334 2018-07-29  9653.0  24959  2018  ...      0.0  13.7       88   990.9
3336 2018-07-30  9653.0  24959  2018  ...      0.0  14.0       84   988.6
3338 2018-07-31  9653.0  24959  2018  ...      0.0  14.9       87   986.8

[31 rows x 12 columns]